.quantumt3 {
  display: table;
  border-collapse: collapse;
}

.quantumt3 .row {
  display: table-row;
}

.quantumt3 .cell {
  display: table-cell;
  width: 120px;
  height: 120px;
  border: 5px solid #dddddd;
}

.classical-piece {
  /* Center piece */
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  position: relative;
  width: 120px;
  height: 120px;
  line-height: 120px;
}

.classical-piece * {
  position: absolute;
  left: 0;
  top: 0;
  width: inherit;
  height: inherit;
  line-height: inherit;
}

.classical-piece .piece-x {
  content: url(../img/cpiece-x.png);
}

.classical-piece .piece-o {
  content: url(../img/cpiece-o.png);
}

.classical-piece .move-text {
  text-align: center;
  margin: 0;
  z-index: 1;
  font-size: 48px;
  font-weight: bold;
  color: white;
}
