.quantumt3 {
  display: table;
  border-collapse: collapse;
}

.quantumt3 .row {
  display: table-row;
}

.quantumt3 .cell {
  display: table-cell;
  width: 120px;
  height: 120px;
  border: 5px solid #cccccc;
}

/* Pieces */
.classical-piece {
  position: absolute;
  width: 120px;
  height: 120px;
  line-height: 120px;
}

.quantum-piece {
  position: absolute;
  width: 40px;
  height: 40px;
  line-height: 40px;
}

.classical-piece *, .quantum-piece * {
  position: absolute;
  width: inherit;
  height: inherit;
  line-height: inherit;
}

.classical-piece .piece-x {
  content: url(../img/cpiece-x.png);
}

.classical-piece .piece-o {
  content: url(../img/cpiece-o.png);
}

.quantum-piece .piece-x {
  content: url(../img/qpiece-x.png);
}

.quantum-piece .piece-o {
  content: url(../img/qpiece-o.png);
}

.move-text {
  text-align: center;
  margin: 0;
  font-weight: bold;
  color: white;
}

.classical-piece .move-text {
  font-size: 48px;
}

.quantum-piece .move-text {
  font-size: 16px;
}

/* Highlights */
.highlight {
  width: inherit;
  height: inherit;
  z-index: -10;
}

.highlight.collapse {
  background-color: #dddddd;
}
